.QuickLinksWidget {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.QuickLinksWidgetLinks {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.QuickLinksWidgetTitle {
  font-size: 1rem;
  margin: 0 0 1rem;
}