.clock {
  margin-bottom: 20px;
  min-width: max-content;
}

.time {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.date {
  font-size: 1.2rem;
  opacity: 0.8;
  text-transform: capitalize;
}

.greeting {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.9;
}
